body {
  width: 100%;
  text-align: center;
  margin: 0;
  background-color: rgba(245, 222, 179, 0.692);
}
header {
  background-color: rgb(238, 255, 0);
}
.main {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1500px;
}
.main a {
  width: 90%;
}
.main a img {
  width: 90%;
  border: 4px solid yellow;
}
